#include <stdexcept>
#include <iostream>
#include <cmath>
#include <string.h>

#include <libuio.h>
#include <{{CppClassName}}.hpp>

// for register map: {{json['registerMap']['name']}}

/** Opens uio-mapped component by uio device number */
{{CppClassName}}::{{CppClassName}} (unsigned int devnum)
{
  m_uioInfo = uio_find_by_uio_num(devnum);
  if (!m_uioInfo)
    throw std::runtime_error("uio_find_by_uio_num with devnum " + std::to_string(devnum) + " failed.");

  std::cout << "{{CppClassName}} ctr. " 
    << "Found requested device with ids: " << uio_get_major(m_uioInfo) << "," << uio_get_minor(m_uioInfo) << std::endl;
  if (uio_open(m_uioInfo))
    throw std::runtime_error("uio_open failed.");
}

/** Opens uio-mapped component by uio device number */
{{CppClassName}}::{{CppClassName}} (const std::string& uioDeviceName)
{
  char* c_string;
  c_string = strdup(uioDeviceName.c_str());
  m_uioInfo = uio_find_by_uio_name(c_string);
  if (!m_uioInfo)
    throw std::runtime_error("uio_find_by_uio_name with device name " + uioDeviceName + " failed.");

  std::cout << "{{CppClassName}} ctr. " 
    << "Found requested device with ids: " << uio_get_major(m_uioInfo) << "," << uio_get_minor(m_uioInfo) << std::endl;
  if (uio_open(m_uioInfo))
    throw std::runtime_error("uio_open failed.");
}

{{CppClassName}}::~{{CppClassName}} ()
{
  uio_close(m_uioInfo);
}

{% for register in json['registerMap']['registers'] %}

  // at register: {{register['name']}}
  {% for field in register['fields'] %}
    {% if register['access'] == "READ_ONLY" or register['access'] == "READ_WRITE" %}
      uint32_t {{CppClassName}}::read{{register['name']|to_camel}}{{field['name']|to_camel}} ()
      {
        uint32_t value (0);
        if (uio_read32 (
          m_uioInfo, 
          0 /*map*/, 
          {{register['addressOffset']}} /* address offset */,
          &value))
          {
            throw std::runtime_error("uio_read32 failed");
          };
        uint32_t bitWidth = {{field['bitWidth']}};
        uint8_t bitOffset = {{field['bitOffset']}};
        return(_isolateBitsForRead(value, bitWidth, bitOffset));
      }
    {% endif %}
    {% if register['access'] == "READ_WRITE" %}
      void {{CppClassName}}::write{{register['name']|to_camel}}{{field['name']|to_camel}} (uint32_t value){
        uint32_t oldValue(0);
        if (uio_read32 (
        m_uioInfo, 
        0 /*map*/, 
        {{register['addressOffset']}} /* address offset */,
        &oldValue))
        {
          throw std::runtime_error("uio_read32 failed");
        };
        uint32_t bitWidth = {{field['bitWidth']}};
        uint8_t bitOffset = {{field['bitOffset']}};
        value = _isolateBitsForWrite(value, bitWidth, bitOffset, oldValue);

        if (uio_write32 (
        m_uioInfo, 
        0 /*map*/, 
        {{register['addressOffset']}} /* address offset */,
        value))
        {
          throw std::runtime_error("uio_write32 failed");
        };
      }
    {% elif register['access'] == "WRITE_ONLY" %}
      void {{CppClassName}}::write{{register['name']|to_camel}}{{field['name']|to_camel}} (uint32_t value){
        uint32_t bitWidth = {{field['bitWidth']}};
        uint8_t bitOffset = {{field['bitOffset']}};
        _{{field['name']|to_camel}}_v = _isolateBitsForWrite(value, bitWidth, bitOffset, _{{field['name']|to_camel}}_v);

        if (uio_write32 (
        m_uioInfo, 
        0 /*map*/, 
        {{register['addressOffset']}} /* address offset */,
        _{{field['name']|to_camel}}_v))
        {
          throw std::runtime_error("uio_write32 failed");
        };
      }
    {% endif %}

  {% endfor %}

{% endfor %}

// Takes value and returns the isolated bits specified by bitWidth and bitOffset. Shifts the bits to 0th position.
uint32_t {{CppClassName}}::_isolateBitsForRead(uint32_t value, uint32_t bitWidth, uint8_t bitOffset){
    uint32_t bitMask = (1 << bitWidth) -1; // 1's on the first 'bitWidth' fields.
    bitMask = bitMask << bitOffset;
    return ((value & bitMask) >> bitOffset);
}

// Takes and old value and replaces the specified bits defined by value, bitWidth and bitOffset.
uint32_t {{CppClassName}}::_isolateBitsForWrite(uint32_t value, uint32_t bitWidth, uint8_t bitOffset, uint32_t oldValue){
    uint32_t bitMask = (1 << bitWidth) -1; // 1's on the first 'bitWidth' fields.
    bitMask = bitMask << bitOffset;
    return((oldValue & (~bitMask)) | (value<<bitOffset)); // Return oldvalue with the correct bits replaced.
}