# This Gitignore file has been automatically created by gitignore_update.py script
# Ignore everything except files mentioned in tcl file and exceptions hard defined 

*
!*/
!.gitignore
!gitignore_update.py
!README.md
!emp_lpgbt.tcl
!emp-firmware-2023.2.tcl
!empfw_debughub.tcl
!emp_generic_mgt.tcl
!eLink_Interface.tcl
!emp_lpgbt/emp_lpgbt.srcs/sources_1/imports/cdc_user/cdc_rx.vhd
!emp_lpgbt/emp_lpgbt.srcs/sources_1/imports/cdc_user/cdc_tx.vhd
!emp_lpgbt/emp_lpgbt.srcs/sources_1/imports/lpgbt-fpga/lpgbtfpga_package.vhd
!emp_lpgbt/emp_lpgbt.srcs/sources_1/imports/lpgbt-fpga/uplink/descrambler_51bitOrder49.vhd
!emp_lpgbt/emp_lpgbt.srcs/sources_1/imports/lpgbt-fpga/uplink/descrambler_53bitOrder49.vhd
!emp_lpgbt/emp_lpgbt.srcs/sources_1/imports/lpgbt-fpga/uplink/descrambler_58bitOrder58.vhd
!emp_lpgbt/emp_lpgbt.srcs/sources_1/imports/lpgbt-fpga/uplink/descrambler_60bitOrder58.vhd
!emp_lpgbt/emp_lpgbt.srcs/sources_1/new/matrix_pkg.vhd
!emp_lpgbt/emp_lpgbt.srcs/sources_1/new/emp_lpgbt_ic_clerk_regs_pkg.vhd
!emp_lpgbt/emp_lpgbt.srcs/sources_1/new/emp_lpgbt_ic_clerk_regs.vhd
!emp_lpgbt/emp_lpgbt.srcs/sources_1/imports/lpgbt-fpga/uplink/fec_rsDecoderN15K13.vhd
!emp_lpgbt/emp_lpgbt.srcs/sources_1/imports/lpgbt-fpga/uplink/fec_rsDecoderN31K29.vhd
!emp_lpgbt/emp_lpgbt.srcs/sources_1/imports/IC/ic_deserializer.vhd
!emp_lpgbt/emp_lpgbt.srcs/sources_1/imports/IC/ic_rx.vhd
!emp_lpgbt/emp_lpgbt.srcs/sources_1/imports/IC/ic_rx_fifo.vhd
!emp_lpgbt/emp_lpgbt.srcs/sources_1/imports/IC/ic_top.vhd
!emp_lpgbt/emp_lpgbt.srcs/sources_1/imports/IC/ic_tx.vhd
!emp_lpgbt/emp_lpgbt.srcs/sources_1/imports/lpgbt-fpga/kcu105/hdl/lpgbtfpga_10g24.vhd
!emp_lpgbt/emp_lpgbt.srcs/sources_1/imports/lpgbt-fpga/uplink/lpgbtfpga_decoder.vhd
!emp_lpgbt/emp_lpgbt.srcs/sources_1/imports/lpgbt-fpga/uplink/lpgbtfpga_deinterleaver.vhd
!emp_lpgbt/emp_lpgbt.srcs/sources_1/imports/lpgbt-fpga/uplink/lpgbtfpga_descrambler.vhd
!emp_lpgbt/emp_lpgbt.srcs/sources_1/imports/lpgbt-fpga/lpgbtfpga_downlink.vhd
!emp_lpgbt/emp_lpgbt.srcs/sources_1/imports/lpgbt-fpga/downlink/lpgbtfpga_encoder.vhd
!emp_lpgbt/emp_lpgbt.srcs/sources_1/imports/lpgbt-fpga/uplink/lpgbtfpga_framealigner.vhd
!emp_lpgbt/emp_lpgbt.srcs/sources_1/imports/lpgbt-fpga/downlink/lpgbtfpga_interleaver.vhd
!emp_lpgbt/emp_lpgbt.srcs/sources_1/imports/lpgbt-fpga/uplink/lpgbtfpga_rxgearbox.vhd
!emp_lpgbt/emp_lpgbt.srcs/sources_1/imports/lpgbt-fpga/downlink/lpgbtfpga_scrambler.vhd
!emp_lpgbt/emp_lpgbt.srcs/sources_1/imports/lpgbt-fpga/downlink/lpgbtfpga_txgearbox.vhd
!emp_lpgbt/emp_lpgbt.srcs/sources_1/imports/lpgbt-fpga/lpgbtfpga_uplink.vhd
!emp_lpgbt/emp_lpgbt.srcs/sources_1/imports/lpgbt-fpga/downlink/rs_encoder_N7K5.vhd
!emp_lpgbt/emp_lpgbt.srcs/sources_1/imports/lpgbt-fpga/kcu105/mgt/xlx_ku_mgt_ip_reset_synchronizer.vhd
!emp_lpgbt/emp_lpgbt.srcs/sources_1/new/emp_lpgbt.vhd
!emp_lpgbt/emp_lpgbt.srcs/component.xml
!emp_lpgbt/emp_lpgbt.srcs/constrs_1/new/lpgbtfpga_core_timing.xdc
!emp-firmware-2023.2/emp-firmware-2023.2.srcs/sources_1/bd/emp_fw_TE0807/emp_fw_TE0807.bd
!emp-firmware-2023.2/emp-firmware-2023.2.srcs/constrs_1/imports/new/emp_transceivers_TE0807.xdc
!emp-firmware-2023.2/emp-firmware-2023.2.srcs/constrs_1/imports/new/emp_async_clocks.xdc
!emp-firmware-2023.2/emp-firmware-2023.2.srcs/utils_1/imports/synth_1/emp_fw_TE0807_wrapper.dcp
!/empfw_debughub/src/fw_monitor_regs_pkg.vhd
!/empfw_debughub/src/fw_monitor_regs.vhd
!/empfw_debughub/src/empfw_debughub.vhd
!/empfw_debughub/component.xml
!/emp_generic_mgt/src/mgt_channel_12/mgt_channel_12.xci
!/emp_generic_mgt/src/mgt_channel_11/mgt_channel_11.xci
!/emp_generic_mgt/src/mgt_channel_10/mgt_channel_10.xci
!/emp_generic_mgt/src/mgt_channel_9/mgt_channel_9.xci
!/emp_generic_mgt/src/mgt_channel_8/mgt_channel_8.xci
!/emp_generic_mgt/src/mgt_channel_7/mgt_channel_7.xci
!/emp_generic_mgt/src/mgt_channel_6/mgt_channel_6.xci
!/emp_generic_mgt/src/mgt_channel_5/mgt_channel_5.xci
!/emp_generic_mgt/src/mgt_channel_4/mgt_channel_4.xci
!/emp_generic_mgt/src/mgt_channel_3/mgt_channel_3.xci
!/emp_generic_mgt/src/mgt_channel_2/mgt_channel_2.xci
!/emp_generic_mgt/src/mgt_channel_1/mgt_channel_1.xci
!/emp_generic_mgt/src/mgt_channel_0/mgt_channel_0.xci
!/emp_generic_mgt/src/emp_transceiver_channel_gthe4_common_wrapper.v
!/emp_generic_mgt/src/gtwizard_ultrascale_v1_7_gthe4_common.v
!/emp_generic_mgt/src/all_mgt.vhd
!/emp_generic_mgt/src/fifo_fill_level_acc.vhd
!/emp_generic_mgt/src/xlx_ku_mgt_ip_reset_synchronizer.vhd
!/emp_generic_mgt/src/mgt_channel_inst_0.vhd
!/emp_generic_mgt/src/mgt_channel_inst_1.vhd
!/emp_generic_mgt/src/mgt_channel_inst_10.vhd
!/emp_generic_mgt/src/mgt_channel_inst_11.vhd
!/emp_generic_mgt/src/mgt_channel_inst_12.vhd
!/emp_generic_mgt/src/mgt_channel_inst_2.vhd
!/emp_generic_mgt/src/mgt_channel_inst_3.vhd
!/emp_generic_mgt/src/mgt_channel_inst_4.vhd
!/emp_generic_mgt/src/mgt_channel_inst_5.vhd
!/emp_generic_mgt/src/mgt_channel_inst_6.vhd
!/emp_generic_mgt/src/mgt_channel_inst_7.vhd
!/emp_generic_mgt/src/mgt_channel_inst_8.vhd
!/emp_generic_mgt/src/mgt_channel_inst_9.vhd
!/emp_generic_mgt/src/tx_phase_aligner.vhd
!/emp_generic_mgt/src/tx_phase_aligner_fsm.vhd
!/emp_generic_mgt/src/tx_pi_ctrl.vhd
!/emp_generic_mgt/src/transceivers.vhd
!/emp_generic_mgt/component.xml
!/eLink_Interface_v1/src/recv_eLink_FIFO/recv_eLink_FIFO.xci
!/eLink_Interface_v1/src/send_eLink_FIFO/send_eLink_FIFO.xci
!/eLink_Interface_v1/src/FIFO_rx_wrapper.vhd
!/eLink_Interface_v1/src/FIFO_tx_wrapper.vhd
!/eLink_Interface_v1/src/eLink_Interface_regs_pkg.vhd
!/eLink_Interface_v1/src/eLink_Interface_regs.vhd
!/eLink_Interface_v1/src/eLink_Interface.vhd
!/eLink_Interface_v1/component.xml
!./empfw_debughub/xgui/*
!./emp_generic_mgt/xgui/*
!./eLink_Interface_v1/xgui/*
